html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.container {
	
	width: 75%;
	margin: auto;
	font-size: 30px;
	
}

.header h1 {
	margin: auto;
	text-align: center;
	color: red;
	font-family: 'Lobster', cursive;
	font-size: 2em;
	margin-bottom: 3em;
}

.options {
	height: 6em;
	background-color: #ffe6e6;

}

.row {
	margin-top: 2em;
}

.search-button {
	display: block;
	margin: auto;
}